.container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30px auto 200px;
    padding: 30px;
}


div.header .wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

div.header .wrapper .logo i {
    font-size: 25px;
    padding-right: 25px;
}

div.header .wrapper .search input {
    width: 600px;
    height: 25px;
    color: gray;
}

div.header .wrapper .search button i {
    font-size: 20px;
    color: gray;
    width: 35px;
    height: 25px;
}

.search {
    justify-self: center;
}

.icons {
    justify-self: end;

}

.header {
    grid-column: 1 / -1;
    align-items: start;
}

.content {
    grid-column: 1 / 2;
    padding-left: 60px
}

div.content h2  {
    font-size: 22px;
    font-weight: 500;
}


div.videooptions{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

div.videooptions .views p {
    font-size: 20px;
    font-weight: 200;
    color: gray;
}

.upvote {
    justify-self: end;
}

div.videooptions .upvote i {
    margin-right: 10px;
    color: gray;
}


/*START SIDEBAR*/

.sidebar {
    grid-column: 2 / -1;
}


div.sidebar .video-rest {
    display: grid;
    grid-template-columns: 170px auto;
    margin-bottom: 7px; 
}

div.sidebar .video-rest .video-titles  {
   margin-left: 5px;
}

div.sidebar .video-rest .video-titles h4 {
    margin: 0;
    margin-bottom: 5px;
}






div.content iframe {
    width: 100%;
} 







/*END SIDEBAR */
